@font-face {
    font-family: 'AuslanFingerSpelling';
    src: url('assets/Auslan Finger Spelling.otf') format('opentype');
}

body {
    font-family: 'AuslanFingerSpelling';
    text-align: center;
    background: url('assets/Wordle Template 2.png') no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    background-color: #fff;

title {
    font-size: 600px;
    offset: -200px;
}

.game-container {
    max-width: 1820px;
    margin: 140px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#word-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    offset:-450px;
}

.letter-box {
    width: 240px;
    height: 240px;
    font-size: 60px;
    font-weight: regular;
    border: 15px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-transform: lowercase;
}
    
#keyboard {
    margin-top: 254px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.cell {
    width: 240px;
    height: 240px;
    margin: 15px;
    font-size: 48px;
    font-weight: regular;
    cursor: pointer;
    border: 6px solid #000;
    border-radius: 20px;
    background-color: #ddd;
}

cell:hover {
    background-color: #bbb;
}

.correct {
    background-color: green;
    color: white;
}

.present {
    background-color: orange;
    color: white;
}

.absent {
    background-color: red;
    color: white;
}
