body {
    font-family: url('assets/Auslan Finger Spelling.otf');
    text-align: center;
    background-image: url('assets/Wordle Template.png');
    background-size: cover;
}

title {
    font-size: 72px;
    margin-bottom: 20px;
}

.game-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: transparent
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#word-grid {
    display: grid;
    grid-template-columns: repeat(5, 6fr);
    gap: 15px;
    margin-bottom: 15px;
}

.letter-box {
    width: 108px;
    height: 108px;
    font-size: 72px;
    font-weight: bold;
    border: 2px solid #000;
    display: flex;
    justify-content: left;
    align-items: center;
    background: white;
    text-transform: lowercase;
}

#keyboard {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

button {
    width: 40px;
    height: 40px;
    margin: 2px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
}

button:hover {
    background-color: #bbb;
}

.correct {
    background-color: green;
    color: white;
}

.present {
    background-color: orange;
    color: white;
}

.absent {
    background-color: grey;
    color: white;
}
